@font-face {
  font-family: 'AvenirNext LT Pro';
  src: url("../assets/Fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/Fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNext LT Pro';
  src: url("../assets/Fonts/AvenirNextLTPro-It.woff2") format("woff2"), url("../assets/Fonts/AvenirNextLTPro-It.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNext LT Pro';
  src: url("AvenirNextLTPro-Medium.woff2") format("woff2"), url("AvenirNextLTPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNext LT Pro';
  src: url("AvenirNextLTPro-MediumIt.woff2") format("woff2"), url("AvenirNextLTPro-MediumIt.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNext LT Pro';
  src: url("AvenirNextLTPro-Bold.woff2") format("woff2"), url("AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNext LT Pro';
  src: url("AvenirNextLTPro-BoldIt.woff2") format("woff2"), url("AvenirNextLTPro-BoldIt.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNext LT Pro';
  src: url("AvenirNextLTPro-DemiIt.woff2") format("woff2"), url("AvenirNextLTPro-DemiIt.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNext LT Pro';
  src: url("AvenirNextLTPro-Demi.woff2") format("woff2"), url("AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNext LT Pro';
  src: url("AvenirNextLTPro-LightIt.woff2") format("woff2"), url("AvenirNextLTPro-LightIt.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNext LT Pro';
  src: url("AvenirNextLTPro-Light.woff2") format("woff2"), url("AvenirNextLTPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0px;
  font-size: 16pt;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
li,
a,
p {
  font-family: 'AvenirNext LT Pro', Roboto;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  background-color: #323232;
  height: 80px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .main-nav {
    padding: 0 24px 0 24px;
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
}

@media screen and (min-width: 1440px) {
  .main-nav {
    max-width: 1440px;
  }
}

.main-nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0.5rem;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .main-nav__logo {
    width: auto;
    margin-right: 4rem;
    margin-bottom: 20px;
  }
}

.main-nav__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 0.25rem;
  width: 50%;
}

@media screen and (min-width: 768px) {
  .main-nav__btn {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
    margin-right: 4rem;
  }
}

.main-nav__btn--active {
  border-bottom: solid 5px #fff;
}

.main-nav__btn-font {
  font-size: 0.75rem;
  font-weight: 300;
  color: #fff;
}

.main-nav__container {
  font-family: 'AvenirNext LT Pro';
  background-color: #323232;
  width: 100%;
  height: 100px;
  background-color: red;
}

.logo-icon {
  height: 1 rem;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(/assets/Images/Photo-gallery-1.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 183px;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 400px;
  }
}

.hero__font {
  padding: 1rem;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .hero__font {
    padding: 1.5rem;
  }
}
/*# sourceMappingURL=main.css.map */