.article {
    padding: 0.25rem 0.8125rem 0rem 0.8125rem;
    @include tablet  {
        padding: 0rem 1.125rem 0.5rem 1.125rem;
    }
    @include desktop  {
        padding: 0.5rem 1.125rem 1rem 1.125rem;
        width: 100%;
        max-width: $desktop-breakpoint;
        margin: auto;
    }
    &__font {
        display: flex;
        font-size: 1.2rem;
        font-weight: 700;
        color: $black;
        padding: 1rem 0rem 1rem 0rem;   
        @include tablet  {
            padding: 2rem 0rem 0.75rem 0rem;
            font-size: 1.8rem;
        }
        @include desktop  {
            padding: 1.25rem 0rem 1rem 0rem;
            font-size: 1.875rem;
            flex-flow: row wrap;
            width: $desktop-breakpoint;
            margin: auto;
        }  
    }
    &__about {
        display: flex;
        flex-flow: column;
        @include tablet  {
            flex-flow: row wrap;
            justify-content: space-between;
        }
        @include desktop  {
            width: 55rem;
            margin: auto;
        }
    }
    &__hero-image {
        object-fit: cover;
        vertical-align: bottom;
        max-height: 50vw;
        @include tablet  {
            max-height: unset;
            width: 100%;
            margin-bottom: 0.35rem;
            height: 17rem;
        }
        @include desktop  {
            width: 55rem;
            height: 29rem;
            margin: auto;
            max-height:unset;
            max-width: unset;
            margin-bottom: 1.25rem;
        }
    }
    &__quote {
        font-size: 0.75rem;
        margin-top: 24px;
        @include tablet  {
            font-size: 1.25rem;
            line-height: 1.65rem;
        }
        @include desktop  {
            width: 40rem;
            justify-content: left;
        }
    }
    &__subheader {
        margin-top: 40px;
        width: 100%;
        @include tablet  {
            width: 55rem;
        }
        @include desktop  {
            margin-top: 3rem;
        }
    }
    &__attribute {
        position:relative;
        top: 1rem;
        font-size: 0.65rem;
        @include tablet  {
            font-size: 0.75rem;
        }
        @include tablet  {
            top: 1.125rem;
        }
    }
    &__text-block {   //gallery section
        margin-top: 24px;
        @include tablet  {
            width: 48%;
            margin-top: 24px;
        }
        @include tablet  {
            // width: 55rem;
            // margin: auto;
        }
    }
    &__gallery {
        display: flex;
        flex-flow: column;
        width: 100%;
        background-color: $alabaster;
        margin-top: 2rem;
        padding: 0rem 0.5rem 1.975rem 0.5rem;
        @include tablet  {
            flex-flow: row wrap;
            justify-content: space-between;
            padding: 0rem 1.125rem 2.5rem 1.125rem;
        }  
        @include desktop  {
            flex-flow: row wrap;
            justify-content: space-between;
            padding: 2.5rem 1.125rem 2.125rem 1.125rem;
        }   
    }
    &__gallery-blocks {
        display: flex;
        flex-flow: column;
        @include tablet {
            flex-flow: row wrap;
            justify-content: space-between;
            // width: 100%;
        }        
        @include desktop  {
            flex-flow: row wrap;
            max-width: 1440px;
            margin: auto;
        }  
    }
    &__container {
        object-fit: cover;
        vertical-align: bottom;
        max-height: 100%;
        height: 54vw;
        margin: 0.325rem 0.25rem 0rem 0.25rem;
        @include tablet  {
            width: 31.5%;
            height: 17vw;
            margin: 0rem;
            margin-top: 1.125rem;
        }
        @include desktop  {
            width: 31.5%;
            height: 12.575rem;
            margin: 0rem;
            margin-top: 1.125rem;
        }
    }
}
.position_relative {
    position: relative;
    top:0.275rem;
    @include tablet  {
        bottom:1.125rem;
    }
}