@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/fonts";
@import "./partials/nav";
@import "./partials/hero";
@import "./partials/form";
@import "./partials/shows";
@import "./partials/sections";
@import "./partials/footer";

* {
  margin: 0px;
  font-size: 16pt;
  box-sizing: border-box;
  // border: dotted 1px gray;
}
h1,
h2,
h3,
h4,
li,
a,
p {
  font-family: "AvenirNext LT Pro", Roboto;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
a {
  color: $white;
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
h1 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.75rem;
  @include tablet {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
h2 {
  font-size: 0.8125rem;
  font-weight: bold;
  line-height: 1.25rem;
  @include tablet {
    font-size: 1.5rem;
    line-height: 2.75rem;
  }
}
h3 {
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.375rem;
  @include tablet {
    font-size: 1.5rem;
    line-height: 2.75rem;
  }
}
h4 {
  font-size: 0.55rem;
  font-weight: normal;
  line-height: 0.95rem;
  @include tablet {
    font-size: 0.7125rem;
    line-height: 1.125rem;
  }
}
