@font-face {
  font-family: 'AvenirNext LT Pro';
  src: url("/sprint-2/Fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("/sprint-2/Fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNext LT Pro';
  src: url("/sprint-2/Fonts/AvenirNextLTPro-Light.woff2") format("woff2"), url("/sprint-2/Fonts/AvenirNextLTPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNext LT Pro';
  src: url("/sprint-2/Fonts/AvenirNextLTPro-Medium.woff2") format("woff2"), url("/sprint-2/Fonts/AvenirNextLTPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNext LT Pro';
  src: url("/sprint-2/Fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("/sprint-2/Fonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNext LT Pro';
  src: url("/sprint-2/Fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("/sprint-2/Fonts/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNext LT Pro';
  src: url("/sprint-2/Fonts/AvenirNextLTPro-Heavy.woff2") format("woff2"), url("/sprint-2/Fonts/AvenirNextLTPro-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.nav-container {
  background-color: #323232;
  width: 100%;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  background-color: #323232;
  height: 80px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .main-nav {
    padding: 0rem 1.25rem 0rem 1.25rem;
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
}

@media screen and (min-width: 1240px) {
  .main-nav {
    max-width: 1240px;
  }
}

.main-nav__logo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0.8rem;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .main-nav__logo-block {
    width: auto;
    margin-right: 4rem;
    margin-bottom: 20px;
  }
}

.main-nav__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 0.2rem;
  width: 50%;
}

@media screen and (min-width: 768px) {
  .main-nav__btn {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
    margin-right: 4rem;
  }
}

.main-nav__btn--active {
  border-bottom: solid 5px #fff;
}

.main-nav__btn-font {
  font-size: 0.75rem;
  font-weight: bold;
  color: #afafaf;
}

.main-nav__btn-font--active {
  color: #fff;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(49, 59, 2, 0.411)), to(rgba(68, 1, 88, 0.459))), url(/sprint-2/Images/concert-1.jpg);
  background-image: linear-gradient(90deg, rgba(49, 59, 2, 0.411) 0%, rgba(68, 1, 88, 0.459) 100%), url(/sprint-2/Images/concert-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 183px;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 400px;
  }
}

@media screen and (min-width: 1240px) {
  .hero {
    height: 670px;
  }
}

.hero__cta-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1rem;
  width: 80%;
}

@media screen and (min-width: 768px) {
  .hero__cta-text {
    font-size: 3.0125rem;
    padding: 1.5rem;
    width: 70%;
  }
}

@media screen and (min-width: 1240px) {
  .hero__cta-text {
    position: relative;
    bottom: 1.75rem;
    width: 50%;
  }
}

@media screen and (min-width: 1240px) {
  .hero__container {
    width: 100%;
    max-width: 1240px;
    margin: auto;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0rem 0.65rem 0rem 0.65rem;
  margin: 1.5rem 0rem 1.5rem 0rem;
}

@media screen and (min-width: 1240px) {
  .form {
    margin: 4rem auto;
    max-width: 1240px;
  }
}

.form__header {
  font-family: AvenirNext LT Pro;
  font-weight: 700;
  width: 100%;
  color: #323232;
  font-size: 1.25rem;
}

@media screen and (min-width: 768px) {
  .form__header {
    font-size: 1.55rem;
    padding: 0rem 0rem 0rem 1.25rem;
  }
}

.form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: solid 1px #e1e1e1;
}

@media screen and (min-width: 768px) {
  .form__container {
    width: 60%;
    margin: 0 auto;
  }
}

.form__fill-out-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
}

.form__name-field {
  font-family: "AvenirNext LT Pro", Roboto;
  color: #e1e1e1;
  border: solid 2px #323232;
  font-size: 0.65rem;
  padding-left: 0.5rem;
  width: 100%;
  height: 2.5rem;
  border-radius: 4px;
  margin-bottom: 1rem;
  background-color: #fafafa;
}

.form__name-field:focus {
  border: solid 2px #323232;
  color: #323232;
  outline: none;
  background-color: #fff;
}

.form__comment-field {
  font-size: 0.65rem;
  font-family: "AvenirNext LT Pro", Roboto;
  width: 100%;
  min-height: 120px;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  border: solid 2px #afafaf;
  background-color: #fafafa;
  height: 2.75rem;
  border-radius: 4px;
  resize: vertical;
}

.form__comment-field:focus {
  border: solid 2px #323232;
  outline: none;
  background-color: #fff;
}

.form__lables {
  font-size: 0.55rem;
  color: #afafaf;
}

.form__btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.125rem;
}

@media screen and (min-width: 768px) {
  .form__btn-container {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    margin-bottom: 1.125rem;
  }
}

.form__btn {
  width: 100%;
  height: 2.25rem;
  background-color: #323232;
  color: white;
  font-size: 0.65rem;
  border-radius: 0.256rem;
  margin-top: 0.8rem;
  border: 0;
  outline: none;
}

@media screen and (min-width: 768px) {
  .form__btn {
    width: 7.5rem;
    height: 2.25rem;
  }
}

.form__btn:hover {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.form__avatar {
  background-color: gray;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 3rem;
  margin: 1.275rem 0.85rem 0rem 0rem;
}

.form__avatar-small {
  background-color: #e1e1e1;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 3rem;
  margin: 1rem 0.85rem 0rem 0rem;
}

.form__user-name {
  padding-top: 0.5rem;
  font-size: 0.8rem;
  line-height: 1.75rem;
}

.form__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-size: 0.625rem;
  padding-left: 0.35rem;
  color: #afafaf;
}

.form__comments {
  font-size: 0.6rem;
}

.form__container--date {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (min-width: 768px) {
  .form__container--date {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 0.35rem;
  }
}

.form__block--post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  padding: 0rem 0rem 0.875rem 0rem;
  border-bottom: solid 1px #e1e1e1;
}

@media screen and (min-width: 1240px) {
  .form__block--post {
    margin: 1.75rem auto;
  }
}

.form__block--user-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .form__block--user-date {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.form__block--user-date-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
  margin-bottom: 0.25rem;
}

.user-mohan {
  background-image: url(../Images/Mohan-muruge.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.music-player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(49, 59, 2, 0.411)), to(rgba(68, 1, 88, 0.459))), url(/sprint-2/Images/Mohan-muruge.jpg);
  background-image: linear-gradient(90deg, rgba(49, 59, 2, 0.411) 0%, rgba(68, 1, 88, 0.459) 100%), url(/sprint-2/Images/Mohan-muruge.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.music-player__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 2rem 0.25rem 0rem 0.25rem;
}

@media screen and (min-width: 1240px) {
  .music-player__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    max-width: 1240px;
    margin: 0 auto;
    height: 30rem;
  }
}

.music-player__cta-subheader {
  color: #fff;
  font-size: 0.75rem;
  font-weight: 700;
  padding: 2rem 1rem 0rem 1rem;
}

@media screen and (min-width: 768px) {
  .music-player__cta-subheader {
    font-size: 1.35rem;
  }
}

@media screen and (min-width: 1240px) {
  .music-player__cta-subheader {
    width: 100%;
    position: relative;
    bottom: 1.75rem;
  }
}

.music-player__cta-text {
  color: #fff;
  font-size: 1.85rem;
  line-height: 2.25rem;
  font-weight: 700;
  padding: 0rem 1rem 0rem 1rem;
}

@media screen and (min-width: 768px) {
  .music-player__cta-text {
    width: 78%;
    font-size: 3.0125rem;
    line-height: 3.875rem;
  }
}

@media screen and (min-width: 1240px) {
  .music-player__cta-text {
    width: 50%;
    position: relative;
    bottom: 1.75rem;
  }
}

.music-player__iframe {
  padding: 2.5rem 1.125rem 2rem 1.125rem;
  width: 100%;
  height: 9.25rem;
}

@media screen and (min-width: 768px) {
  .music-player__iframe {
    width: 20.5rem;
    height: 11.125rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0rem 0rem 2.25rem 0rem;
  }
}

@media screen and (min-width: 1240px) {
  .music-player__iframe {
    width: 24rem;
    height: 11.125rem;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.shows__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.25rem 1rem 0rem 1rem;
}

@media screen and (min-width: 768px) {
  .shows__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1.25rem 1.25rem 0rem 1.25rem;
  }
}

@media screen and (min-width: 1240px) {
  .shows__container {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    max-width: 1240px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1240px) {
  .shows__header-container {
    width: 25%;
  }
}

@media screen and (min-width: 1240px) {
  .shows__list-container {
    width: 75%;
  }
}

.shows__lables-tablet-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .shows__lables-tablet-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1240px) {
  .shows__lables-tablet-desktop {
    width: 100%;
  }
}

.shows__tablet-desktop-block {
  display: none;
}

@media screen and (min-width: 768px) {
  .shows__tablet-desktop-block {
    display: inline-block;
    width: 9.125rem;
  }
}

.shows__tablet-desktop-headers {
  width: 33.33%;
  color: #afafaf;
  margin-top: 0.5rem;
  font-size: 0.55rem;
  line-height: 0.5rem;
}

.shows__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 1.125rem;
}

@media screen and (min-width: 768px) {
  .shows__header {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 1240px) {
  .shows__header {
    font-size: 2rem;
  }
}

.shows__list-item {
  border-bottom: solid 1px #e1e1e1;
}

@media screen and (min-width: 768px) {
  .shows__list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.shows__lable {
  padding-top: 0.65rem;
  color: #afafaf;
}

@media screen and (min-width: 768px) {
  .shows__lable {
    display: none;
  }
}

.shows__venue, .shows__location {
  font-weight: 300;
  padding-top: 0.15rem;
  font-size: 0.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

@media screen and (min-width: 768px) {
  .shows__venue, .shows__location {
    width: 33.33%;
    font-size: 0.65rem;
  }
}

.shows__date {
  padding-top: 0.15rem;
  font-size: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

@media screen and (min-width: 768px) {
  .shows__date {
    width: 33.33%;
  }
}

.shows__buy-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 14rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2.25rem;
  background-color: #323232;
  border-radius: 0.256rem;
  margin-top: 0.875rem;
  margin-bottom: 0.75rem;
  border: 0;
  outline: none;
}

@media screen and (min-width: 768px) {
  .shows__buy-btn {
    margin-top: 0.75rem;
    width: 9rem;
    height: 2.25rem;
  }
}

.shows__btn-text {
  color: white;
  font-size: 0.65rem;
  font-weight: 700;
}

.shows__btn:hover {
  color: white;
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.section__container {
  padding: 0.25rem 0.8125rem 0rem 0.8125rem;
}

@media screen and (min-width: 768px) {
  .section__container {
    padding: 0rem 1.125rem 0.5rem 1.125rem;
  }
}

@media screen and (min-width: 1240px) {
  .section__container {
    padding: 0.5rem 1.125rem 1rem 1.125rem;
    width: 100%;
    max-width: 1240px;
    margin: auto;
  }
}

.section__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
  color: #323232;
  padding: 1rem 0rem 1rem 0rem;
}

@media screen and (min-width: 768px) {
  .section__header {
    padding: 2rem 0rem 0.75rem 0rem;
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1240px) {
  .section__header {
    padding: 1.25rem 0rem 1rem 0rem;
    font-size: 1.875rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 1240px;
    margin: auto;
  }
}

.section__about-the-musicians {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media screen and (min-width: 768px) {
  .section__about-the-musicians {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1240px) {
  .section__about-the-musicians {
    width: 55rem;
    margin: auto;
  }
}

.section__hero-image {
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
  max-height: 50vw;
}

@media screen and (min-width: 768px) {
  .section__hero-image {
    max-height: unset;
    width: 100%;
    margin-bottom: 0.35rem;
    height: 17rem;
  }
}

@media screen and (min-width: 1240px) {
  .section__hero-image {
    width: 55rem;
    height: 29rem;
    margin: auto;
    margin-bottom: 1.25rem;
  }
}

.section__quote {
  font-size: 0.75rem;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .section__quote {
    font-size: 1.25rem;
    line-height: 1.65rem;
  }
}

@media screen and (min-width: 1240px) {
  .section__quote {
    width: 40rem;
  }
}

.section__subheader {
  margin-top: 1.875rem;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .section__subheader {
    width: 55rem;
  }
}

@media screen and (min-width: 1240px) {
  .section__subheader {
    margin-top: 3rem;
  }
}

.section__attribute {
  position: relative;
  top: 1rem;
  font-size: 0.65rem;
}

@media screen and (min-width: 768px) {
  .section__attribute {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 768px) {
  .section__attribute {
    top: 1.125rem;
  }
}

.section__text-block {
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .section__text-block {
    width: 48%;
    margin-top: 24px;
  }
}

.section__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
  background-color: #fafafa;
  margin-top: 2rem;
  padding: 0rem 0.5rem 1.975rem 0.5rem;
}

@media screen and (min-width: 768px) {
  .section__gallery {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0rem 1.125rem 2.5rem 1.125rem;
  }
}

@media screen and (min-width: 1240px) {
  .section__gallery {
    padding: 0.875rem 1.125rem 2.125rem 1.125rem;
  }
}

.section__gallery-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media screen and (min-width: 768px) {
  .section__gallery-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1240px) {
  .section__gallery-block {
    max-width: 1240px;
    margin: auto;
  }
}

.section__img-container {
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
  max-height: 100%;
  height: 54vw;
  margin: 0.75rem 0.25rem 0rem 0.25rem;
}

@media screen and (min-width: 768px) {
  .section__img-container {
    width: 32%;
    height: 17vw;
    margin: 1.125rem 0rem 0rem 0rem;
  }
}

@media screen and (min-width: 1240px) {
  .section__img-container {
    width: 32.25%;
    height: 12.575rem;
  }
}

.section__img-container:hover {
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.position_relative {
  position: relative;
  top: 0.275rem;
}

@media screen and (min-width: 768px) {
  .position_relative {
    bottom: 1.125rem;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  color: #fff;
  background-color: #323232;
  width: 100%;
  margin: auto;
  padding: 2rem 0.8125rem 1.5rem 0.8125rem;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  }
}

@media screen and (min-width: 1240px) {
  .footer {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  }
}

.footer__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
  margin: auto;
}

@media screen and (min-width: 500px) {
  .footer__blocks {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

@media screen and (min-width: 768px) {
  .footer__blocks {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1240px) {
  .footer__blocks {
    max-width: 1240px;
  }
}

.footer__block {
  width: 100%;
  margin-bottom: 1.65rem;
}

@media screen and (min-width: 500px) {
  .footer__block {
    width: 33.33%;
    padding-right: 1.3132rem;
  }
}

@media screen and (min-width: 600px) {
  .footer__block {
    width: 33.33%;
    padding-right: 2.275rem;
  }
}

@media screen and (min-width: 768px) {
  .footer__block {
    padding-right: 0rem;
    margin-bottom: 2.25rem;
  }
}

@media screen and (min-width: 1240px) {
  .footer__block {
    width: 25%;
  }
}

.footer__empty {
  display: none;
}

@media screen and (min-width: 1240px) {
  .footer__empty {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__copyright {
  max-width: 9rem;
}

@media screen and (min-width: 500px) {
  .footer__copyright {
    max-width: unset;
  }
}

.footer__get-in-touch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.75rem;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer__get-in-touch {
    padding-right: 2rem;
    width: auto;
  }
}

@media screen and (min-width: 1240px) {
  .footer__get-in-touch {
    width: 25%;
  }
}

.footer__social-media-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 4rem;
}

@media screen and (min-width: 768px) {
  .footer__social-media-icons {
    width: 33.33%;
    margin-right: auto;
  }
}

@media screen and (min-width: 1240px) {
  .footer__social-media-icons {
    width: 25%;
  }
}

.footer__logo {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}

.footer__icons {
  margin: 0rem 1.75rem 0rem 0rem;
}

.footer__h2 {
  position: relative;
  right: 0.25rem;
  font-size: 1.75rem;
}

@media screen and (min-width: 768px) {
  .footer__h2 {
    padding-top: 0.4rem;
  }
}

@media screen and (min-width: 1240px) {
  .footer__h2 {
    font-size: 1.75rem;
  }
}

.footer__h3 {
  position: relative;
  right: 0.25rem;
  font-size: 0.65rem;
  line-height: 1rem;
}

@media screen and (min-width: 500px) {
  .footer__h3 {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 1240px) {
  .footer__h3 {
    font-size: 0.64rem;
  }
}

.footer__h4 {
  position: relative;
  right: 0.25rem;
  font-size: 0.55rem;
  font-weight: normal;
  line-height: 0.8rem;
}

@media screen and (min-width: 500px) {
  .footer__h4 {
    font-size: 0.5rem;
  }
}

@media screen and (min-width: 600px) {
  .footer__h4 {
    font-size: 0.55rem;
  }
}

@media screen and (min-width: 768px) {
  .footer__h4 {
    font-weight: 100;
    font-size: 0.675rem;
    line-height: 1.025rem;
  }
}

@media screen and (min-width: 1240px) {
  .footer__h4 {
    line-height: 0.85rem;
  }
}

.footer__email {
  position: relative;
  top: 0.75rem;
  left: 0.05rem;
}

* {
  margin: 0px;
  font-size: 16pt;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
li,
a,
p {
  font-family: "AvenirNext LT Pro", Roboto;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.75rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

h2 {
  font-size: 0.8125rem;
  font-weight: bold;
  line-height: 1.25rem;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 1.5rem;
    line-height: 2.75rem;
  }
}

h3 {
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.375rem;
}

@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2.75rem;
  }
}

h4 {
  font-size: 0.55rem;
  font-weight: normal;
  line-height: 0.95rem;
}

@media screen and (min-width: 768px) {
  h4 {
    font-size: 0.7125rem;
    line-height: 1.125rem;
  }
}
/*# sourceMappingURL=main.css.map */