$black: #323232;
$white: #fff;
$silver: #afafaf;
$mercury: #e1e1e1;
$alabaster: #fafafa;

$tablet-breakpoint: 768px;

$desktop-breakpoint: 1240px;

//added these media-break-points to improve footer responsivness

$mobile-footer-breakpoint-1: 500px;

$mobile-footer-breakpoint-2: 600px;
